@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Roboto:wght@900&display=swap&display=swap');

:root {
    --bg-color: #e5e5e5;

    --color-primary: #e35c27;
    --color-secondary: #2a2a40;


    --color-card: #d6d6e0;
    --text-color: #0f0f1a;

    --body-padding: 1rem;
    --body-margin: 1.5rem;

    --red: #da232c;

    --form-shadow: 0 5px 15px rgba(227, 85, 8, 0.4);
    --form-bg: #e15729;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

main {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 150ms ease-in-out;
    transition-property: color, background-color;
}

ul {
    list-style: none;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--red);
    color: white;
}

/*  HEADER === */

.header {
    position: sticky;
    background-color: var(--red);
    padding-top: var(--body-margin);
    top: 0;
    z-index: 100;
}

/* ===LOGO===*/
.logo {
    display: flex;
    overflow: hidden;
    align-items: center;
}

.logo img {
    width: auto;
    height: 50px;
}

/* ===NAVBAR===*/
.navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-item {
    position: relative;
}

.nav-list {

    gap: 1rem;

}


.nav-link:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: .5rem;
}

/*==IMAGEN DE LOGIN*/
.user-actions img {
    width: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.user-actions img:hover {
    /*Pequeña animación*/
    transform: scale(1.1);
}

/* ===MAIN== */
.hero {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 3rem 1rem;
}

.hero h1 {
    font-size: 2rem 1rem;
    padding: 1rem;
}

.hero p {
    max-width: 600px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: var(--body-padding);
    position: relative;
}

h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--color-primary);
    margin-top: 0.5rem;
}

.peliculas {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 1.5rem;
}

.grid:hover .card {
    opacity: 0.7;
}

.grid .card:hover {
    opacity: 1;
}

/*===SECCION SERIES===*/

.series {
    margin-bottom: 3rem;
}

.series h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.series h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--color-primary);
    margin-top: 0.5rem;
}

.series .grid {
    display: grid;
    grid-auto-flow: column;
    /* 🔥 clave */
    grid-auto-columns: 250px;
    /* ancho de cada card */
    gap: 1.5rem;

    overflow-x: auto;
    /* permite scroll */
    padding-bottom: 1rem;
}


/* =====/////CARDS/////=====*/

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--color-card);

    transition: transform 0.3s ease, box-shadow 0.25s ease;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    height: 100%;
}

.card-content h3 {

    background-color: var(--red);
    color: white;
    padding: 0.5rem;


    font-size: 1rem;

    transition: background-color 0.3s;
}

.card:hover h3 {
    background-color: var(--color-primary);
}

.card img {

    width: 100%;
    object-fit: cover;

    transition: transform 0.4s ease;
}

.card:hover img {
    transform: scale(1.05);
}


.card a::after {
    content: "";
    position: absolute;
    inset: 0;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    z-index: 2;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}


.card::before {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(223, 213, 213, 0.7);
    color: #0f0f1a;
    opacity: 0;

    transition: 0.3s;
}

.card:hover::before {
    opacity: 1;
}

.card-content p {
    margin: 0.7rem;
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;

    -webkit-line-clamp: 3;
    /*Esto recorta el texto en tres lineas*/
    line-clamp: 3;
    font-size: 0.9rem;
    line-height: 1.4;
    color: #171515;
    transition: color 0.3s;

}

.card:hover p {
    color: rgb(216, 33, 33);
}

/* ======BOTON DENTRO DE CARDS===== */
.btn-card {
    display: block;
    width: 100%;

    text-align: center;
    padding: 0.3rem;

    background-color: var(--color-primary);
    transform: scale(1.02);
    border-radius: 5px;

    margin-top: auto;
}

.btn-card:hover {
    background-color: var(--color-secondary);
}

.badge {
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-top: 0.6rem;
}

.meta {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    opacity: 0.8;
    margin-bottom: 0.3rem;
}

.stars {
    color: gold;
    font-size: 0.9rem;
}

.rating {
    font-weight: bold;
}


.age {
    background-color: #444;
    padding: 0.1rem 0.4rem;
    border-radius: 4px;
}

.series .grid {
    grid-auto-columns: 80%;
}

/* =======
/////////REGISTRO.HTML /////////////
======*/
.registro {
    max-width: 600px;
    margin: 3rem auto;
    padding: 2rem;

    background: #1c1c2e;
    border-radius: 15px;
    box-shadow: var(--form-shadow);
    color: #d6d6e0;
}

/* TÍTULO */
.registro h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

/* FORMULARIO */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* GRUPOS */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}


/* INPUTS */
input,
select,
textarea {
    padding: 0.7rem;
    border-radius: 8px;
    border: 1px solid transparent;

    background-color: #2a2a40;
    color: rgb(246, 246, 246);

    transition: all 0.3s ease;
}

/* EFECTO FOCUS */
input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 1px solid var(--color-primary);
    box-shadow: var(--form-shadow);
}


.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    margin-right: 0.4rem;
    accent-color: var(--color-primary);
}
.checkbox{
    color: var(--color-primary);
}
/* BOTÓN */
.form-actions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn, 
.btn-secundario {
    display: flex;

    margin-top: 1rem;
    

    background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
    border: none;

    padding: 1.3rem 2rem;
    border-radius: 8px;

    font-weight: bold;
    cursor: pointer;

    transition: 0.3s;
}

/* HOVER BOTÓN */
.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(227, 85, 8, 0.4);
}
.btn-secundario:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(227, 85, 8, 0.4);
}

/* =======
/////////***CONTACTO.HTML /////////////
======*/
.contacto {
    max-width: 600px;
    margin: 3rem auto;
    padding: 2rem;

    background: #1c1c2e;
    border-radius: 15px;
    box-shadow: var(--form-shadow);
    color:#d6d6e0;
}

.contacto h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.contacto-texto {
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom: 1.5rem;
}


/* ======
///////****DETALLES.HTML=======*/


#trailer {
    width: 100%;
    border-radius: 10px;
    max-height: 400px;
    object-fit: cover;
}

.detalle {
      margin: 2rem 1rem;
    padding: 1rem;
}

.detalle-info h1 {
    color: var(--red);
    margin-top: 1rem;

}

.match {
    color: #46d369;
    font-weight: bold;
}

.year,
.age,
.seasons {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

.descripcion {
    margin: 1rem 0;
    line-height: 1.6;
    margin: 3rem;

}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1.5rem;

    font-size: 0.9rem;
    opacity: 0.9;
}

.info-grid strong {
    color: var(--color-primary);
}

.btn-detalle {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;

    background-color: var(--form-shadow);
    color: var(--form-bg);

    border-radius: 5px;
    font-weight: bold;

    display: inline-block;
}

.btn-detalle:hover {
    background-color: #ddd;
}

/*======
======MEDIA QUERIES========*/


/*TABLET*/
@media (min-width: 768px) {

    /* NAV */
    .navbar {
        flex-direction: row;
    }

    .nav-list {
        flex-direction: row;
    }

    /* GRID */
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .series .grid {
        grid-auto-columns: 250px;
    }
}

    /* DETALLE */
    .detalle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
    }

    /* FORM */
    .form-actions {
        flex-direction: row;
        justify-content: space-between;
    }



@media (min-width: 1024px) {

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    main {
        max-width: 1200px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
}